<vex-secondary-toolbar current="Dashboard">
  <vex-breadcrumbs [crumbs]="['Dashboards', 'Analytics']" class="flex-auto"></vex-breadcrumbs>
</vex-secondary-toolbar>

<div class="p-gutter" vexContainer>
<vex-filter-panel></vex-filter-panel>
  <br>
  <div class="card overflow-auto w-full" fxLayout="column">
    <mat-tab-group>
      <mat-tab label="ЦТТ">
        <vex-table [data]="tableData" [columns]="tableColumns" [subs] = "subColumns"></vex-table>
      </mat-tab>
      <mat-tab label="ТОХ">
        <vex-table [data]="tableData" [columns]="tableColumns" [subs] = "subColumns"></vex-table>
      </mat-tab>
      <mat-tab label="ЦТР">
        <vex-table [data]="tableData" [columns]="tableColumns" [subs] = "subColumns"></vex-table>
      </mat-tab>
      <mat-tab label="БК">
        <vex-table [data]="tableData" [columns]="tableColumns" [subs] = "subColumns"></vex-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
